<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Title!</title>
  <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
  {{{body}}}
  <script src="/public/js/login.js"></script>
  <script src="/public/js/script.js"></script>
</body>

</html>