* {
  margin: 0px;
  padding: 0px;
}

body {
  /* background: black; */
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 15pt;
  background: url("https://wallpaper.dog/large/10885126.jpg") no-repeat center
    center fixed black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

label {
  color: white;
}

main {
  max-width: 75%;
  margin: auto;
}

header {
  border-bottom: 1px solid #afafaf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  margin-bottom: 5px;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.5rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1.05rem;
}

p {
  font-size: 1rem;
  line-height: 2;
  color: rgb(36, 3, 3);
}

.error {
  color: #ff0000;
}

.a {
  background-color: rgb(8, 168, 37);
}

.container {
  position: relative;
  width: 50%;
}

.container .btn1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(1, 74, 16);
  color: white;
  font-size: 16px;
  padding: 20px 48px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn2 {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(1, 74, 16);
  color: white;
  font-size: 16px;
  padding: 20px 48px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.form1 .label {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(1, 74, 16);
  color: white;
  font-size: 16px;
  padding: 20px 48px;
  border: none;
  border-radius: 5px;
}

.form1 .input1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 5px;
}

.form1 .input2 {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(1, 74, 16);
  color: white;
  font-size: 16px;
  padding: 20px 48px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.commentary-form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  margin-bottom: 12px;
}

.commentary-form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}
.commentary-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.commentarybtn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: #0a9518;
  color: white;
  cursor: pointer;
}

.count {
  position: relative;
  margin: 0px;
  padding: 4px 6px;
  font-size: 40px;
  line-height: 30px;
  font-weight: 60;
  -webkit-font-smoothing: antialiased;
  width: 5%;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}

.table1,
th,
td {
  text-align: center;
  background-color: rgb(91, 187, 107);
}
.table1 {
  width: 100%;
}

.statsForm {
 color: rgb(246, 249, 247); 
 background-color: rgba(12, 12, 12, 0);

  padding: 20px 248px;
}
.statsForm .table2
{
  color: rgb(246, 249, 247); 
 background-color: rgba(12, 12, 12, 0);
}
.statsForm .class1 {
  text-align: center;
}
.statsForm .fields {
  text-align:left;
  height: 30px;
  width: 60%;
  
  
}
.statsForm .btn3 {
  text-align: center;
  padding: 5px 40px;
  width: 30%;
}

.main-nav {
  margin-top: 5px;
}
.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #f9fbfa;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #04ab57;
}

.header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid rgb(1, 74, 16);
  background-color: rgb(1, 74, 16);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.main1 {
  position: sticky;
  top: 20%;

  align-content: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid rgb(1, 74, 16);
  background-color: rgb(22, 124, 22);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.main1 a {
  text-decoration: underline;
  color: rgb(223, 220, 220);
}

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;

    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
  }
  .main1 {
    flex-direction: column;
    align-items: center;

    width: 60%;
    margin: 0 auto;
    max-width: 1150px;
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .main1 {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
