* {
  margin: 0px;
  padding: 0px;
}

body {
  background: black;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 15pt;
  background-image: url("https://wallpaper.dog/large/10885126.jpg");
}

label {
  color: white;
}

main {
  max-width: 75%;
  margin: auto;
}

header {
  border-bottom: 1px solid #afafaf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  margin-bottom: 5px;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.5rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1.05rem;
}

p {
  font-size: 1rem;
  line-height: 2;
  color: rgb(36, 3, 3);
}

.error {
  color: #ff0000;
}

.a {
  background-color: rgb(8, 168, 37);
}


.container {
  position: relative;
  width: 50%;
}

.container .btn1 {
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(1, 74, 16);
  color: white;
  font-size: 16px;
  padding: 20px 48px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn2 {
  position:fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(1, 74, 16);
  color: white;
  font-size: 16px;
  padding: 20px 48px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.form1 .label{
  position:fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(1, 74, 16);
  color: white;
  font-size: 16px;
  padding: 20px 48px;
  border: none;
  border-radius: 5px;
}

.form1 .input1{
  position:fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      font-size: 16px;
      padding: 10px 18px;
      border-radius: 5px;
}

.form1 .input2 {
  position:fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(1, 74, 16);
  color: white;
  font-size: 16px;
  padding: 20px 48px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.table1 {
  position: relative;
  width: 50%;
}