<form onsubmit="createMatch(event)">
    <div class="container-fluid">

        <div class="form-group">
            <label class="font-weight-bold" for="match_name">Match Name</label>
            <input class="form-control" id="match_name" type="text" name="text" />
        </div>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 40rem;">
                    <div class="card-title text-center">
                        <h2>Team 1</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="font-weight-bold" for="team1_name">Name</label>
                            <input class="form-control" id="team1_name" type="text" name="text" />

                            <label for="team1_player1">Player1</label>
                            <input class="form-control" id="team1_player1" type="text" name="text" />

                            <label for="team1_player2">Player2</label>
                            <input class="form-control" id="team1_player2" type="text" name="text" />

                            <label for="team1_player3">Player3</label>
                            <input class="form-control" id="team1_player3" type="text" name="text" />

                            <label for="team1_player4">Player4</label>
                            <input class="form-control" id="team1_player4" type="text" name="text" />

                            <label for="team1_player5">Player5</label>
                            <input class="form-control" id="team1_player5" type="text" name="text" />

                            <label for="team1_player6">Player6</label>
                            <input class="form-control" id="team1_player6" type="text" name="text" />

                            <label for="team1_player7">Player7</label>
                            <input class="form-control" id="team1_player7" type="text" name="text" />

                            <label for="team1_player8">Player8</label>
                            <input class="form-control" id="team1_player8" type="text" name="text" />

                            <label for="team1_player9">Player9</label>
                            <input class="form-control" id="team1_player9" type="text" name="text" />

                            <label for="team1_player10">Player10</label>
                            <input class="form-control" id="team1_player10" type="text" name="text" />

                            <label for="team1_player11">Player11</label>
                            <input class="form-control" id="team1_player11" type="text" name="text" />

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 40rem;">
                    <div class="card-title text-center">
                        <h2>Team 2</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="font-weight-bold" for="team2_name">Name</label>
                            <input class="form-control" id="team2_name" type="text" name="text" />

                            <label for="team2_player1">Player1</label>
                            <input class="form-control" id="team2_player1" type="text" name="text" />

                            <label for="team2_player2">Player2</label>
                            <input class="form-control" id="team2_player2" type="text" name="text" />

                            <label for="team2_player3">Player3</label>
                            <input class="form-control" id="team2_player3" type="text" name="text" />

                            <label for="team2_player4">Player4</label>
                            <input class="form-control" id="team2_player4" type="text" name="text" />

                            <label for="team2_player5">Player5</label>
                            <input class="form-control" id="team2_player5" type="text" name="text" />

                            <label for="team2_player6">Player6</label>
                            <input class="form-control" id="team2_player6" type="text" name="text" />

                            <label for="team2_player7">Player7</label>
                            <input class="form-control" id="team2_player7" type="text" name="text" />

                            <label for="team2_player8">Player8</label>
                            <input class="form-control" id="team2_player8" type="text" name="text" />

                            <label for="team2_player9">Player9</label>
                            <input class="form-control" id="team2_player9" type="text" name="text" />

                            <label for="team2_player10">Player10</label>
                            <input class="form-control" id="team2_player10" type="text" name="text" />

                            <label for="team2_player11">Player11</label>
                            <input class="form-control" id="team2_player11" type="text" name="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="duration">Duration</label>
            <input class="form-control" id="duration" type="text" name="text" />
            <button type="submit">Submit</button>
        </div>
</form>