<div class="container">
    {{#each data}}
    <div class="row">
        <a class="col" href="/matches/getMatch/{{this._id}}">
            <h1>{{this.name}}</h1>
        </a>
    </div>
    {{/each}}
</div>