<form method="post" action="/matches/highlights ">

    <div class="form-group">
        <label for="matchID">matchID</label>
        <input type="text" name="matchID" class="form-control" id="matchID" placeholder="matchID">
    </div>
    <div class="form-group">
        <label for="highlight">highlight</label>
        <input type="text" name="highlight" class="form-control" id="higlight" placeholder="highlight">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>