<form onsubmit="scheduleMatch(event)">
    <div class="container-fluid " style="background:transparent;">

        <div class="form-group">
            <label class="font-weight-bold" for="match_name" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Match Name</label>
            <input class="form-control" id="match_name" type="text" name="text" />
        </div>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 40rem; background:transparent">
                    <div class="card-title text-center">
                        <h1 style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Team 1</h1>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="font-weight-bold" for="team1_name" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Name</label>
                            <input class="form-control" id="team1_name" type="text" name="text" >

                            <label for="team1_player1" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player1</label>
                            <input class="form-control" id="team1_player1" type="text" name="text" >

                            <label for="team1_player2" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player2</label>
                            <input class="form-control" id="team1_player2" type="text" name="text" >

                            <label for="team1_player3" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player3</label>
                            <input class="form-control" id="team1_player3" type="text" name="text" >

                            <label for="team1_player4" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player4</label>
                            <input class="form-control" id="team1_player4" type="text" name="text" >

                            <label for="team1_player5" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player5</label>
                            <input class="form-control" id="team1_player5" type="text" name="text" >

                            <label for="team1_player6" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player6</label>
                            <input class="form-control" id="team1_player6" type="text" name="text" >

                            <label for="team1_player7" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player7</label>
                            <input class="form-control" id="team1_player7" type="text" name="text" >

                            <label for="team1_player8" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player8</label>
                            <input class="form-control" id="team1_player8" type="text" name="text" >

                            <label for="team1_player9" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player9</label>
                            <input class="form-control" id="team1_player9" type="text" name="text" >

                            <label for="team1_player10" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player10</label>
                            <input class="form-control" id="team1_player10" type="text" name="text" >

                            <label for="team1_player11" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player11</label>
                            <input class="form-control" id="team1_player11" type="text" name="text" >

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 40rem; background:transparent">
                    <div class="card-title text-center">
                        <h2 style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Team 2</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="font-weight-bold" for="team2_name" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Name</label>
                            <input class="form-control" id="team2_name" type="text" name="text" >

                            <label for="team2_player1" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player1</label>
                            <input class="form-control" id="team2_player1" type="text" name="text" >

                            <label for="team2_player2" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player2</label>
                            <input class="form-control" id="team2_player2" type="text" name="text" >

                            <label for="team2_player3" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player3</label>
                            <input class="form-control" id="team2_player3" type="text" name="text" >

                            <label for="team2_player4" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player4</label>
                            <input class="form-control" id="team2_player4" type="text" name="text" >

                            <label for="team2_player5" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player5</label>
                            <input class="form-control" id="team2_player5" type="text" name="text" >

                            <label for="team2_player6" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player6</label>
                            <input class="form-control" id="team2_player6" type="text" name="text" >

                            <label for="team2_player7" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player7</label>
                            <input class="form-control" id="team2_player7" type="text" name="text" >

                            <label for="team2_player8" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player8</label>
                            <input class="form-control" id="team2_player8" type="text" name="text" >

                            <label for="team2_player9" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player9</label>
                            <input class="form-control" id="team2_player9" type="text" name="text" >

                            <label for="team2_player10" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player10</label>
                            <input class="form-control" id="team2_player10" type="text" name="text" >

                            <label for="team2_player11" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Player11</label>
                            <input class="form-control" id="team2_player11" type="text" name="text" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="duration" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Duration</label>
            <input class="form-control" id="duration" type="number" name="duration" >
            <label for="startTime" style="color: rgb(1, 129, 118); background-color: rgba(6, 6, 6, 0);">Start Time:</label>
            <input id="startTime" type="datetime-local" name="startTime" >

            <button type="submit" style="color: rgb(20, 129, 1); background-color: rgba(6, 6, 6, 0);">Submit</button>
        </div>

        <div id="error" class="error"></div>
</form>