<table class="table1">
  <tr>
    <th>Fields</th>
    <th>Team1</th>
    <th>Team2</th>
  </tr>
  <tr>
    <td>Shots</td>
    <td id="team1_shots">3</td>
    <td id ="team2_shots">4</td>
  </tr>
  <tr>
    <td>shots on target</td>
    <td id="team1_shotsontarget">2</td>
    <td id="team2_shotsontarget">3</td>
  </tr>
  <tr>
    <td>fouls</td>
    <td id="team1_fouls">2</td>
    <td id="team2_fouls">3</td>
  </tr>
  <tr>
    <td>passes</td>
    <td id="team1_passes">2</td>
    <td id="team2_passes">3</td>
  </tr>
  <tr>
    <td>yellow cards</td>
    <td id="team1_yellow">2</td>
    <td id="team2_yellow">3</td>
  </tr>
  <tr>
    <td>Red cards</td>
    <td id="team1_red">2</td>
    <td id="team2_red">3</td>
  </tr>
  <tr>
    <td>offsides</td>
    <td id="team1_offsides">2</td>
    <td  id="team2_offsides">3</td>
  </tr>
  <tr>
    <td>corners</td>
    <td id="team1_corners">2</td>
    <td id="team2_corners">3</td>
  </tr>
</table>

