<table class="table1">
  <tr>
    <th>Fields</th>
    <th>Team1</th>
    <th>Team2</th>
  </tr>
  <tr>
    <td>Shots</td>
    <td>3</td>
    <td>4</td>
  </tr>
  <tr>
    <td>shots on target</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <td>fouls</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <td>passes</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <td>yellow cards</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Red cards</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <td>offsides</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <td>corners</td>
    <td>2</td>
    <td>3</td>
  </tr>
</table>

