<form class="form1" onsubmit="viewmatch(event)">
            <div>
              <label class="label" for="example">Enter a match ID below </label>
              <input class="input1" id="match_id" type="text" name="text" />
            </div>
            <div>
              <input class="input2" type="submit" value="submit" />
            </div>
</form>