<main class="main1">


  <ul class="main-nav">
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>

    <a class="fields" id="view_team1_name"></a>
    <div class="count" value="0" id="view_team1_goals"></div>
    <a class="fields"></a>
    <a class="fields"></a>
    <div class="count" value="0" id="view_team2_goals"></div>
    <a class="fields" id="view_team2_name"></a>

  </ul>

  <ul class="main-nav">
    <li><a href="/matches/{{id}}/players">Players</a></li>
    <li><a href="/matches/{{id}}/viewScoreboard/viewStats">Stats</a></li>
    <li><a href="/matches/{{id}}/viewScoreboard/viewCommentary">Commentary</a></li>
    <li><a href="/matches/{{id}}/highlights">Highlights</a></li>
  </ul>
</main>