<form method="POST" id="signup-form" onsubmit="edituser(event)">

    <label for="firstName" style="color: rgb(0, 129, 39); background-color: rgba(12, 12, 12, 0);">First name</label>
    <input class="singup" type="text" name="firstName" id="firstName" placeholder="Enter firstName" value="">

    <label for="lastName" style="color: rgb(0, 129, 39); background-color: rgba(12, 12, 12, 0);">Last name</label>
    <input class="singup" type="text" name="lastName" id="lastName" placeholder="Enter lastName" value="">
    <label for="password" style="color: rgb(0, 129, 39); background-color: rgba(12, 12, 12, 0);">New Password</label>
    <input class="singup" type="password" name="password" id="password" placeholder="Enter password" value="">
    <button class="singupbtn" type="submit">submit</button>
    <div id="error" class="error"></div>
</form>