<!-- Section: Design Block -->
<section class=" text-center text-lg-start" style="background:transparent;">
    <style>
        .rounded-t-5 {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        @media (min-width: 992px) {
            .rounded-tr-lg-0 {
                border-top-right-radius: 0;
            }

            .rounded-bl-lg-5 {
                border-bottom-left-radius: 0.5rem;
            }
        }
    </style>
    <div class="card mb-3" style="background:transparent;">
        <div class="row g-0 d-flex align-items-center">
            <div class="col-lg-8">
                <div class="card-body py-5 px-md-5">

                    <form id="login-form" action="POST">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="login-username" style="color: rgb(0, 129, 39); background-color: rgba(12, 12, 12, 0);">Username</label>
                            <input type="text" id="login-username" class="form-control" />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="login-password" style="color: rgb(0, 129, 39); background-color: rgba(12, 12, 12, 0);">Password</label>
                            <input type="password" id="login-password" class="form-control" />
                        </div>

                        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                    </form>

                    <!-- Submit button -->
                </div>
            </div>
        </div>
    </div>
</section>

<p id="server-error"></p>
<button type="button" class="singupbtn" href="/users/signup">Register here!</button>
    <!-- Section: Design Block -->