<form id="login-form" action="POST">
    <div class="container">
        <label>Username : </label>
        <input id="login-username" type="text" placeholder="Enter Username" name="login-username" required />
        <br />
        <label>Password : </label>
        <input id="login-password" type="password" placeholder="Enter Password" name="login-password" required />
        <br />
        <button type="submit">Login</button>
    </div>
</form>
<p id="server-error">{{data}}</p>