<form method="POST" id="signup-form" onsubmit="signUpUI(event)">

    <label for="signup-firstName">First name</label>
    <input type="text" name="signup-firstName" id="signup-firstName" placeholder="Enter firstName" value="">

    <label for="signup-lastName">Last name</label>
    <input type="text" name="signup-lastName" id="signup-lastName" placeholder="Enter lastName" value="">
    <label for="signup-username">username</label>
    <input type="text" name="signup-username" id="signup-username" placeholder="Enter username" value="">
    <label for="signup-password">Password</label>
    <input type="password" name="signup-password" id="signup-password" placeholder="Enter password" value="">
    <button type="submit">Sign Up</button>
    <div id="error" class="error"></div>

</form>
</div>

</form>