<form method="POST" id="signup-form" onsubmit="signUpUI(event)">

    <label  for="signup-firstName" style="color: rgb(0, 129, 39); background-color: rgba(12, 12, 12, 0);">First name</label>
    <input class="singup" type="text" name="signup-firstName" id="signup-firstName" placeholder="Enter firstName" value="">

    <label for="signup-lastName" style="color: rgb(0, 129, 39); background-color: rgba(12, 12, 12, 0);">Last name</label>
    <input class="singup" type="text" name="signup-lastName" id="signup-lastName" placeholder="Enter lastName" value="">
    <label for="signup-username" style="color: rgb(0, 129, 39); background-color: rgba(12, 12, 12, 0);">username</label>
    <input class="singup" type="text" name="signup-username" id="signup-username" placeholder="Enter username" value="">
    <label for="signup-password" style="color: rgb(0, 129, 39); background-color: rgba(12, 12, 12, 0);">Password</label>
    <input class="singup" type="password" name="signup-password" id="signup-password" placeholder="Enter password" value="">
    <button class="singupbtn" type="submit" >Sign Up</button>
    <div id="error" class="error"></div>

</form>
</div>

</form>