<label>First Name:</label>
<p style="color: rgb(0, 129, 39); background-color: rgba(12, 12, 12, 0);">{{firstName}}</p>
<label>Last Name:</label>
<p style="color: rgb(0, 129, 39); background-color: rgba(12, 12, 12, 0);">{{lastName}}</p>
<label>User Name:</label>
<p style="color: rgb(0, 129, 39); background-color: rgba(12, 12, 12, 0);">{{username}}</p>
<a href="/users/edituser">EDIT PROFILE</a>



