<label>First Name</label>
<div for="signup-firstName" style="color: rgb(0, 129, 39); background-color: rgba(12, 12, 12, 0);" id="signup-firstName"
    value="">firstName</div>
<label>Last Name</label>
<div for="signup-lastName" style="color: rgb(0, 129, 39); background-color: rgba(12, 12, 12, 0);" id="signup-lastName"
    value="">lastName</div>
<label>User Name</label>
<div for="signup-username" style="color: rgb(0, 129, 39); background-color: rgba(12, 12, 12, 0);" id="signup-username"
    value="">userName</div>
<a href="users/editUser">EDIT PROFILE</a>
<div for="signup-firstName" style="color: rgb(0, 129, 39); background-color: rgba(12, 12, 12, 0);" id="signup-firstName"
    value="">{{firstName}}</div>
<div for="signup-lastName" style="color: rgb(0, 129, 39); background-color: rgba(12, 12, 12, 0);" id="signup-lastName"
    value="">{{lastName}}</div>
<div for="signup-username" style="color: rgb(0, 129, 39); background-color: rgba(12, 12, 12, 0);" id="signup-username"
    value="">{{username}}</div>
<a href="/users/edituser">EDIT PROFILE</a>